
.auth-container {
    align-items: center;
    margin: auto;
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.input-code {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}


.btn_code {
    background-color: #000000;
    opacity: 0.85;
    color: white;
    padding: 12px 20px;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.btn_code:hover {
    background-color: #2f2f2f;
    opacity: 0.95;
    box-shadow:  2px 2px 5px #4a4a4a;
}

.replace-code {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 1.6rem;
    color: rgb(112, 43, 9);
}